[2015-12-27 21:44] lucasderraugh opened #2 "Missing Alamofire"
When I clone this project, it seems it is missing Alamofire. I could add this in but I'm wondering what approach you'd want to take for this? I'd personally prefer either Carthage or git submodules.

[2015-12-27 23:01] avaidyam commented on #2
I actually don't like the use of Carthage or CocoaPods for dependency management, and git submodules would work, but I just want to temporarily use the framework alone.

Keep in mind: the goal is to reduce external dependency. The majority of Alamofire usage can be replaced with `NSURLSession` et al, it'll just take time.

[2015-12-27 23:03] lucasderraugh commented on #2
I agree, really not a fan of the external dependency managers. Would you like to move everything to NSURLSession instead or just include Alamofire as a submodule for now?

[2015-12-27 23:11] avaidyam commented on #2
I'd rather try to move towards `NSURLSession`, as we're not using a majority of the fancy Alamofire features. I gave it a brief thought a few weeks ago, but a lot of this work on Parrot was done while procrastinating for final exams...

One of the big reasons why I'm pushing away from Alamofire is eventual cross-compatibility. There's no reason to suggest that Alamofire will remain OS X-only even

[2016-01-04 03:38] avaidyam commented on #2
@lucasderraugh I've done a fair amount of work in removing the Alamofire overhead, but there's only one spot I'm having issues with right now:

[code]

I can't seem to figure out how to replicate the `stream` call without messing up the delegates.

An idea is to clone the `SessionDelegate` and in the extension `request` function, automatically hook it up. I may try this out later. Any suggestions?

[2016-01-04 06:03] avaidyam commented on #2
I've added in the bit I mentioned about `SessionDelegate`, but it doesn't seem to fully work yet.

[2016-01-04 23:55] avaidyam opened #3 "Remove Foundation dependencies where appropriate"
- `Data` for `DispatchData` and `Date` for `DispatchTimeInterval`.
- `NSURLSession` replaced by `libcurl`.
- Rebuilt `NSNotificationCenter` as an `EventBus` or `Signal` system (using a `NotificationProtocol`)
- Swift `XPC` wrapper using mach ports OR unix file descriptors.
- `CFMachPort` or `CFMessagePort` wrapper in Swift?

[2016-01-04 23:55] avaidyam opened #4 "Support Date/Time, Address, Transit detectors in messages"

[2016-01-04 23:56] avaidyam opened #5 "Support sending messages with proper bold, italics, underline, etc"

[2016-01-04 23:58] avaidyam opened #6 "Support tiled conversation views"
We can probably use `NSSplitViewController` and some clever dragging proxy tricks for this.

Unfortunately, only the main app could support this, and might need a bit of retooling. See `INDockableWindow`.

Possible modes:
- Individual Windows
- Tabbed Windows
- Docking Windows
- Master-Detail Single Window
- Popover Single Window
- Split Window
- Inline Single Window

[2016-01-04 23:59] avaidyam opened #7 "Add chat transcript viewer"
Immediate goal: add ability to search conversations.

Might be a little difficult for Hangouts at first, but is pretty much essential to the overall app. Allow the user to start a fresh db or use the Google Takeout service to download all previous Hangouts logs in the form of a JSON file that follows server conventions implemented already and import it.

UI design: Add a scrubber index like in "ve

[2016-01-05 00:30] avaidyam opened #8 "Better notifications - sound, dock, notification, and more"
It'd require overhauling `NotificationManager`.

Experimental feature: support vibrating a Force Touch trackpad as well.

Possible: see Android notifications: `NotificationManager`.

[2016-01-05 00:36] avaidyam opened #9 "Better gestures and keybindings support for UI + CLI tool."
Obviously, the CLI tool won't support gestures.

Gestures:
* `custom force touch gesture recognizer --> open a translucent quick look panel, mouse up = closed`

Shortcuts
* none yet.

[2016-01-05 00:39] avaidyam opened #10 "Reorganization conversation list with grouping"
First, support favorite/pinned conversations. Second, allow sorting in a custom order (time, alphabetical, manual, etc).

[2016-01-05 00:41] avaidyam opened #11 "Redesign conversation view for extensibility"
Currently, it barely even shows anything besides the message text. It could be retooled to support user photos, timestamps, and more.
Instead of a huge list of checkboxes, perhaps a CSS-like syntax would be preferred for "styling" the conversation view.

Experimental feature: custom styles per person. It would be a little crazy though.

Proposed idea: plugin model.
- Send plugins allow the customi

[2016-01-05 00:42] avaidyam opened #12 "Send photo, video, and voice messages, along with stickers and files"
Basically, support sending anything. Currently, only sends text (and not even the attributed variety).

[2016-01-05 00:44] avaidyam opened #13 "Support setting a mood or status"
XMPP and Hangouts both support setting a status text for your user. Hangouts goes another step and supports an emoji to indicate current mood as well.
Things like currently active device should be automatically set.

[2016-01-05 00:46] avaidyam opened #14 "Provide a user list instead of just a conversation list"
This would allow adding and searching new users for conversations. It'll also be able to show the mood/status of every friend/buddy user in a list, along with availability.

[2016-01-05 00:47] avaidyam opened #15 "App-wide pasteboard support"
For example, pasting a user will translate to: First Last email@domain.com, and pasting a conversation would translate to its text representation.

This would go hand in hand with tooltips, as the tooltip for an entity would show its pasteboard formatted string.

Also, possibly parse the clipboard and add message to a conversation if the user enables it.

[2016-01-05 00:48] avaidyam opened #16 "Drag/drop support in conversations"
Example: dragging images/text/links/anything into a conversation view will add them to the message before sending them.

[2016-01-05 00:49] avaidyam opened #17 "Better app-wide menu support"
Currently, the UI makes no use of `NSMenu` at all. This should change, and also includes using a dock menu when appropriate for shortcut actions.

[2016-01-05 00:54] avaidyam opened #18 "Finalize a framework-facing service API"
Currently, Parrot is essentially hard-wired into using the Hangouts framework. This isn't good for extensibility or multi-service support in the future.

Instead, finalize a service API that can abstract away a chat service (i.e. Hangouts, XMPP, Whatsapp, Facebook, Telegram, etc) into a high-level container.

This will mean additional feature support has to be declared in capabilities defined by t

[2016-01-10 20:00] avaidyam opened #19 "AppleScript/JS support"
It would be nice to support scripting both inside and outside the app(s).

[2016-02-03 06:53] matthewdias opened #20 "Crash on launch"
Using the release version. Not sure if this is related to #2
http://pastebin.com/b46RWrN7

[2016-02-03 18:18] avaidyam commented on #20
@matthewdias Hold tight, there were several breaking changes to Hangouts that I patched. You can try compiling from source if you want to, but I'll put up a new release now.

[2016-02-03 18:21] avaidyam commented on #20
@matthewdias https://github.com/avaidyam/Parrot/releases/tag/0.2

Try that. :)

[2016-02-03 18:21] #20 closed, assigned to avaidyam

[2016-02-08 12:57] asci opened #21 "Build links"
I didn't get how to start an app.

Can you provide please links to build a project if it possible?

[2016-02-08 15:33] avaidyam commented on #21
Did you try downloading the release 0.2 or building it yourself?

[2016-02-08 17:25] 3871968 commented on #21
I am also not able to build this from the source because of a provisioning profile issue. Could you possibly turn off code signing?

[2016-02-08 17:33] avaidyam commented on #21
It's always a bad idea to turn off code signing for no reason -- have you tried changing the certificate in the product settings to "`-`"? That essentially disables it.

[2016-02-08 22:45] avaidyam commented on #21
Also note that you have to build `Alamofire.framework` separately and place it in the `External` folder.

[2016-02-09 08:50] asci commented on #21
Where can I download the release 0.2?

[2016-02-09 16:56] avaidyam commented on #21
@asci https://github.com/avaidyam/Parrot/releases

[2016-02-09 22:38] matthewdias opened #22 "Blank Screen"
Parrot just shows a blank screen, and doesn't have the option to log out. This is porbably because i switched from a self-compiled version to the release. Is there a way to clear its data so I can start fresh with the login flow?

[2016-02-23 09:14] #22 closed, assigned to avaidyam

[2016-02-23 17:06] avaidyam commented on #22
@matthewdias Did this work out for you?

[2016-02-23 17:07] #21 closed, assigned to avaidyam

[2016-02-23 17:09] matthewdias commented on #22
yeah, all good

[2016-02-23 17:10] avaidyam commented on #22
Great! :+1: Sorry I couldn't get back to you. Been a bit busy with life.

[2016-02-23 17:11] matthewdias commented on #22
Haha, no problem. I totally get it.

[2016-02-23 17:13] avaidyam commented on #22
:smile:

[2016-04-02 14:50] VagishVela opened #23 "Can't seem to get it to do anything."
This is all I get, I logged in. Maybe it is because I have a project fi enabled hangouts account?
<img width="689" alt="screen shot 2016-04-02 at 10 48 33 am" src="https://cloud.githubusercontent.com/assets/7334882/14227011/b040e88a-f8c0-11e5-8cf9-14997819c07f.png">

[2016-04-03 00:21] avaidyam commented on #23
Can you check your `Console.app` log and see if anything's there? I'm pretty sure Project Fi shouldn't mess with Parrot. I could be wrong.

[2016-04-05 23:41] VagishVela commented on #23
It opens but doesn't even load that page anymore. I don't know what messages to look for in Console.app

[2016-04-06 02:53] avaidyam commented on #23
That's weird. Look for `Parrot.app` or anything `Parrot` related?

[2016-04-06 02:53] avaidyam commented on #23
I have a Google Voice, not a Project Fi, but it should be the same...

[2016-04-10 14:38] avaidyam commented on #23
@VagishVela I'd like to ask: are you building the source yourself or using the distribution binary?

[2016-04-11 22:29] VagishVela commented on #23
@avaidyam The distribution binary.

[2016-04-12 02:42] avaidyam commented on #23
Let me build a new one -- that one could possibly be out of date.

[2016-06-13 18:20] avaidyam commented on #23
@VagishVela Any progress?

[2016-06-13 18:23] avaidyam opened #24 ""Sparkle" support with Github"
Ideally, wrap Github Issues and Releases into Parrot for crash reporting and automatic updates.
- Github Releases API can be used to check for the latest release.
- Not sure if there's a way to watch the crash report directory and then send that...
- [gitreports](gitreports.com) for issue posting.

[EDIT] macOS 12: `SecTranslocate` or "App Translocation" is a new security feature where apps are la

[2016-06-13 18:25] avaidyam opened #25 ""via Google Voice" when sending Hangouts"
Sending a message to a Hangouts contacts may randomly cause the message to show as "sent via Google Voice" while being delivered on Hangouts...

[2016-06-13 18:27] avaidyam opened #26 "Network disconnection causes deadlock in Channel.listen()"
Probably needs to hook into SCReachability API and translate them into notifications...

[2016-06-13 19:38] VagishVela commented on #23
@avaidyam I haven't tested it since. Let me try again later today.

[2016-06-15 23:46] avaidyam commented on #2
@lucasderraugh Alamofire has been removed from the dependencies; you should no longer need it.

[2016-06-15 23:46] #2 closed, assigned to avaidyam

[2016-06-16 00:02] avaidyam commented on #14
It turns out that Hangouts, iMessage, Messenger, and WhatsApp don't support buddy lists anymore. It's just a relic of XMPP's past. 😢

[2016-06-16 00:02] #14 closed, assigned to avaidyam

[2016-06-16 00:03] avaidyam commented on #23
@VagishVela There's a new release available that you can try. I'm closing this issue for now.

[2016-06-16 00:03] #23 closed, assigned to avaidyam

[2016-06-17 13:23] blaedj opened #27 "Blank Screen on open - no application identifier provided"
Using the v0.3-alpha pre-compiled binary on OSX 10.11, all I see is a blank screen with the title 'Login to Parrot'.
Looking in console.app, the below message appears in the logs every time I open the app.

`taskgated[473]: no application identifier provided, can't use provisioning profiles [pid=85051]`

I'm able to open, run and log in using the previous released version.

[2016-06-17 13:39] gattilorenz commented on #27
same problem here (10.11.5 and same error message)

[2016-06-17 14:12] avaidyam commented on #27
Huh, weird. It looks like a provisioning profile issue, then. I'll test it out on a separate Mac real quick.

It could be Xcode 8's new provisioning profile management thing.

[2016-06-17 15:32] #27 closed, assigned to avaidyam

[2016-06-17 15:34] avaidyam commented on #27
The bug should be fixed, and [the release has been updated!](https://github.com/avaidyam/Parrot/releases/tag/v0.3-alpha)

@gattilorenz @blaedj Let me know if it works!

[2016-06-17 15:39] blaedj commented on #27
Yep I can log in now thank you!

[2016-06-17 16:21] avaidyam commented on #27
@blaedj Awesome! How do you like Parrot? 😉

[2016-06-20 08:47] gattilorenz commented on #27
@avaidyam thanks for squashing the bug!

Parrot seems still a bit rough around the edges, but it's incredible to have a _real_ native hangout  client... I can finally close the browser! <3

If I may suggest an improvement (or is it there, but I'm just unable to see it?), it's sending message with [Return] and adding a CRLF with [Shift]+[Return]... it's a bit annoying (not to mention much slower) t

[2016-06-20 13:47] avaidyam commented on #27
@gattilorenz Right!? It's shocking this isn't a priority.

The feature you requested was there in an earlier build, and it's something I personally really want, so it'll come back. I'm transitioning the UI slightly and then it should be fine. 👍

[2016-06-20 15:34] blaedj commented on #27
It's awesome to have an actual native client like gattilorenz said, thanks for all your work and I hope I can help out

[2016-06-24 18:39] avaidyam opened #28 "Better logging facility"
In light of macOS's os_log\* and os_activity\* headers, which are cumbersome to use from Swift, it might be beneficial to come up with a replica.

`Log.i("TAG") { "this text \(value) is dynamically computed if log level is met" } // @autoclosure does this`

[2016-06-24 22:44] avaidyam commented on #8
While the user-facing preferences aren't there yet, the _experimental_ force touch vibration, custom alert tones, dock badge, and notifications are there!

[2016-06-24 22:44] #8 closed, assigned to avaidyam

[2016-06-24 22:45] avaidyam commented on #4
Support has been added due to switching over to `NSTextView`!

[2016-06-24 22:45] #4 closed, assigned to avaidyam

[2016-06-25 00:12] avaidyam commented on #15
Message pasteboard support is mostly complete, with the exception of multiple messages, which is being worked on. Conversations don't exactly work in this way.

Tooltips are now supported as well; pasteboard parsing is a little unnecessary as pasting is easy to perform if the user really desires it.

[2016-06-25 00:12] #15 closed, assigned to avaidyam

[2016-06-25 00:13] avaidyam commented on #17
Menus are supported in messages, and there swiping on a conversation will present a "menu" of actions.

[2016-06-25 00:13] #17 closed, assigned to avaidyam

[2016-06-27 23:04] avaidyam opened #29 "Global search & messaging popup"
Currently, Parrot supports notification center message replies: these are sorely lacking, in that you can only send a reply message, and not see any conversation or user details. In addition, Parrot doesn't have QuickLook or Spotlight integration. So here's an idea:
- Integrate QuickLook generators for people, conversations, and messages.
- Extensible message UI support (including link parsing, et

[2016-07-02 22:39] avaidyam commented on #25
Fixed as of v0.4-alpha.

[2016-07-02 22:39] #25 closed, assigned to avaidyam

[2016-07-02 22:39] avaidyam commented on #28
Rudimentary logging is now available in the API as of v0.4-alpha.

[2016-07-02 22:39] #28 closed, assigned to avaidyam

[2016-07-26 17:51] avaidyam opened #30 "Minimal style conversation list"
Add a preferences slider "Summary lines" with possible values: 0, 1, 2, 3. If 0 is selected, no summary lines are shown for the conversation list, and up to 3 lines if needed.

[2016-07-26 17:53] avaidyam opened #31 "Root NSViewController Architecture"
Add several root NSViewController styles:
- NSTabViewController (.toolbar)
- NSSplitViewController (.sidebar)
- NSPageViewController

Add an NSWindow subclass with support for:
- Light/Dark Vibrancy Tracking
- Toolbar and Title
- Loading Indicator
- "No Items" view

Possible viewable modes:
- Individual Windows
- Tabbed Windows
- Docking Windows
- Master-Detail Single Window
- Popover Single Windo

[2016-07-29 16:13] #19 closed, assigned to avaidyam

[2016-08-01 20:26] Wall-Dough opened #32 "Message writing area covers the most recent message"
I don't know if there are any special circumstances when this occurs, but it happens quite often

[2016-08-01 20:28] Wall-Dough opened #33 "Conversation window can be opened multiple times"
If you click on a conversation in the main window and open the conversation, then go back to the main window and click the conversation again, it opens a new window for the conversation.

It should probably detect that the conversation has already been opened, and just put that window into focus.

[2016-08-01 23:04] avaidyam commented on #32
It seems to occur when the window is resized (which leads to the scroll view retiling and breaking content insets). Will get a fix on that!

[2016-08-01 23:20] avaidyam commented on #33
Yeah uh, that's a lazy programming bug. 💯

[2016-08-01 23:22] #32 closed, assigned to avaidyam

[2016-08-01 23:36] #33 closed, assigned to avaidyam

[2016-10-14 11:05] eklavya opened #34 "Crash on start"
Crash log:

[code]

[2016-10-14 14:27] avaidyam commented on #34
This bug will likely be fixed in the upcoming build (which is being worked on right now) -- dramatic changes have been made in that area. Thanks for pointing it out!

[2016-10-14 15:16] eklavya commented on #34
Thanks Aditya, eagerly awaiting the new release :)

[2016-10-14 16:16] avaidyam commented on #34
@eklavya [Try this out.](https://github.com/avaidyam/Parrot/releases/tag/v0.6-alpha)

[2016-10-14 17:34] eklavya commented on #34
It crashed again. Still the same nil while unwrapping an optional error. Also it asks to update for the same version it is.

[2016-10-15 03:16] avaidyam commented on #34
Try this: [Parrot.zip](https://github.com/avaidyam/Parrot/files/530732/Parrot.zip)

Please attach the crash report (which is still expected to occur).

[2016-10-15 04:04] eklavya commented on #34
Crash log

[code]

[2016-10-15 04:06] avaidyam commented on #34
Aha, that helps a lot. Thank you!

[2016-10-15 05:03] avaidyam commented on #34
This one probably has the fix: [Parrot.zip](https://github.com/avaidyam/Parrot/files/530770/Parrot.zip)

[2016-10-15 10:09] eklavya commented on #34
It worked and it looks sooo good! Thanks :)
Is there any way to have a single window layout? (The chats appear as separate windows right now.)

[2016-10-15 16:04] avaidyam commented on #34
Currently there's a couple issues that I'd like to fix before working on the UI. For example, when you disconnect from the network, and reconnect later, you continue to receive messages, but you don't receive those that you missed while not online (due to a silly bug I'm trying to fix now). Also, I'm working on fixing the scroll back so when you reach the top of the messages, it loads more, and vi

[2016-10-15 16:05] #34 closed, assigned to avaidyam

[2016-11-05 05:12] #26 closed, assigned to avaidyam

[2016-11-12 01:37] bbickerton opened #35 "Contact list gone after closing"
Parrot v0.6-alpha
macOS Sierra 10.12.1

After closing the contact list, there's no way to get it back without restarting the app.

Steps to Reproduce:
1. Start Parrot and log in if necessary
2. Close the contact list with the red (x) button in the top left.
3. Parrot is still running, with no way to show the contact list again.
4. Restart Parrot to bring contact list back.

[2016-11-12 01:52] bbickerton opened #36 "Broken unread badge"
Parrot v0.6-alpha
macOS Sierra 10.12.1

The unread badge on the app dock icon has two issues for me.
1. It increments up for messages I send.
2. It doesn't clear when the chat with new messages is brought in focus (and continues to increment as messages come in). The badge count remains even after closing a chat window and reopening it.

[2016-11-12 18:57] avaidyam commented on #36
Ah yeah. I see that issue too -- I'm working on a better fix. I'm wondering if it should represent `unread conversations` or `unread messages per conversation`. I was previously using the Hangouts definition...

[2016-11-12 18:58] avaidyam commented on #35
Actually, there currently is a way: right click on the dock and select `Open Conversations`. I should probably make it open when the dock icon is pressed a second time though... I'll keep this issue open until that change happens.

[2016-11-19 14:43] #35 closed, assigned to avaidyam

[2016-11-30 08:14] avaidyam opened #37 "Fix AppManagement Semver Comparison"
Currently, it doesn't actually do anything or work.

[2016-11-30 08:14] avaidyam opened #38 "Transient "Reply" box"
If conversation is open, toggle it into transient mode and display it. Then switch it back when user is done with it. If no conversation is open yet, then create -> toggle -> delete.

Also, scroll up = hide titlebar + message entry, scroll down = show both.

[2016-11-30 08:15] avaidyam opened #39 "Fix URL-based services"
URI-based services:  (`parrot://hangouts.google.com/conversations/<UUID_HERE>/....`)

[2016-11-30 08:15] avaidyam opened #40 "Use NSExtension API"
Plugin API for:
* Service
* Send (file, photo, video, sticker, etc)
* Receive (link_preview, etc)

Create plugins for:
* Spotlight Importer
* DockTile*
* Siri

[2016-11-30 08:16] avaidyam opened #41 "Design CircularReveal for NSWindow"

[2016-11-30 08:17] avaidyam opened #42 "Support UI Restoration"
* NSWindowRestoration
* NSWindow.restorable
* window(_:willEncodeRestorableState:)

[2016-11-30 08:17] avaidyam opened #43 "Custom DataDetectors"
Possibly part of a plugin instead of part of Parrot.

Also, Intercept CharacterPicker for Emoji Popover with tabs for (Data Detectors, Photos, etc)

[2016-11-30 11:02] avaidyam opened #44 "NSDrawer Fullscreen Peeking"
When an `NSWindow` is in fullscreen mode, its attached `NSDrawer`s should peek in when the mouse hovers over that edge of the screen, like `NSSplitViewController`. (See `NSWindowFullScreenController`)

[2016-12-06 19:11] avaidyam commented on #41
Does not fit into the macOS HIG and probably not too useful.

[2016-12-08 06:46] #41 closed, assigned to avaidyam

[2017-01-18 07:27] saagarjha opened #46 "parrot-cli crashes due to lack of libSwiftCore.dylib"
I'm consistently getting this error message when trying to run parrot-cli:

[code]

If I didn't know any better, I'd suggest that Mocha had `ALWAYS_EMBED_SWIFT_STANDARD_LIBRARIES` set to `NO` in the Build Settings, but for some reason setting it to `YES` only seems to fix it in Xcode's console…

[2017-01-18 13:23] avaidyam commented on #46
The intended method of running it is to invoke `./Parrot.app/Contents/MacOS/parrot-cli`. `ALWAYS_EMBED_SWIFT_STANDARD_LIBRARIES=YES` is something I actively try to avoid. If it's working for you in the Xcode console but not outside of it, you're probably running it wrong.

[2017-01-18 13:23] #46 closed, assigned to avaidyam

[2017-02-27 09:45] avaidyam opened #47 "Automatic Git issues for crashes"
Well, we're already fully subscribed to GitHub land... why not?

[2017-03-21 19:26] avaidyam opened #48 "Custom Emoji Font"
Add the ability to change the font used for rendering Emoji.

[2017-04-13 01:34] vanshg opened #49 "Hide Dock Icon (and live in MenuBar)"
Would it be possible to add an option to hide the dock icon and make parrot live in the MenuBar. That way I can keep it always running and not have an icon in my Dock. It'd just be cleaner :)

[2017-04-13 05:15] vanshg commented on #49
I cloned the repo to play around a bit and see how this could be done. It should actually be fairly simple. Another setting could be added in the Experimental Section. Add a `LivesInMenuBar` string to the `Parrot` settings enum. Then, based on whether that box was checked or not, in `applicationWillFinishLaunching`, you could do something along the lines of

[code]

Also you would need to modify t

[2017-04-13 11:47] avaidyam commented on #49
While this is trivial like you said, right now I don't have the UI components ready to the state that I would like to even have this as an experimental option. I don't believe it's as simple as the status item toggling the Conversations window, and that's why it hasn't been implemented yet. You are *more than welcome* to roll this change to your local copy and use it as you please.

Also, note, mo

[2017-04-24 05:06] vanshg commented on #49
I've got a fork going where the app *only* lives in the Menu Bar, if you want to take a look

https://github.com/vanshg/Parrot

[2017-05-03 15:24] bennettscience opened #50 "Can't start new conversation"
Using Parrot 0.6-alpha, the search button in the conversation list doesn't open anything and I can't start a new conversation. Incoming messages are added and I can pick up from there, but I can't start a new one from the app.

[2017-05-08 05:36] avaidyam commented on #50
Correct -- the functionality isn't there yet in the UI, but it works in the framework. I'll be patching things up in the coming month so stay tuned.

[2017-05-08 12:26] bennettscience commented on #50
Not sure what was going on earlier. New conversations are starting as expected. I can close this issue if you'd like.

[2017-05-08 15:20] avaidyam commented on #50
That's quite odd... I don't recall "wiring up" the ability to start a new conversation, lol. What exactly did you do?

[2017-05-11 11:50] bennettscience commented on #50
I'm probably not being clear. Earlier, when I clicked on an existing conversation, nothing would happen. I closed and reopened the next day and the conversation window opened. I still cannot _initiate_ a conversation from scratch, which makes sense if you haven't implemented yet.

[2017-05-12 14:22] avaidyam commented on #50
@bennettscience Got it, that makes sense but is a little weird. I'll look into that better.

[2017-05-12 14:45] avaidyam commented on #42
* `autoscroll(_:NSEvent)` implements scroll-when-dragging

[2017-05-12 20:20] avaidyam opened #51 "New Event + EventHandler model."
`Event` shall describe an action in the Parrot UI.
`EventHandler` shall describe a response to an action in the Parrot UI.

# `Event`s:
 - `FocusEvent`: A person changed their focus (viewing or typing in a conversation). Includes self.
 - `PresenceEvent`: A person's presence changed. Includes self. Includes dis/connections.
 - `MessageEvent`: A message was sent or received. Includes self.
     - P

[2017-05-17 00:16] avaidyam commented on #42
[code]

[2017-05-19 19:19] avaidyam commented on #49
A rudimentary menubar support has been added. It doesn't support unread indicators and must be manually activated by adding the `LSUIElement` key to the `Info.plist` and sending a `defaults write` on the `Parrot.MenuBarIcon` key. For now, I'll keep it like this until more of Parrot is fleshed out.

[2017-05-19 19:19] #49 closed, assigned to avaidyam

[2017-05-19 19:19] #50 closed, assigned to avaidyam

[2017-05-19 22:42] avaidyam opened #52 "Extensible AppIcon"
# App Icon States
* **Offline**: _The app is offline or inactive._
* **Online**: _The app is online and active._
* **Unread**: _Unread messages; this will be overlayed with names or icons._
* **Default**: _The default icon when the app isn't running._

# `AppIcon` Format

[code]

[2017-05-19 23:39] vanshg commented on #49
Awesome, thanks!

[2017-05-20 05:14] #48 closed, assigned to avaidyam

[2017-05-23 21:42] #37 closed, assigned to avaidyam

[2017-05-23 21:44] avaidyam commented on #16
Added with `DroppableView` -- not yet implemented due to lack of `Service` support.

[2017-05-23 21:44] #16 closed, assigned to avaidyam

[2017-05-23 21:45] avaidyam commented on #6
Merge with #31.

[2017-05-23 21:45] #6 closed, assigned to avaidyam

[2017-05-23 21:46] avaidyam commented on #3
Foundation support is much better on Linux now; no need to drop it.

[2017-05-23 21:46] #3 closed, assigned to avaidyam

[2017-05-23 21:47] avaidyam commented on #24
Currently issue posting via GitReports and release checking via `AppManagement` are supported; automatic update should be discouraged (the user should manually perform the action).

Final step: automatic crash --> issue reporting.

[2017-05-23 21:47] #24 closed, assigned to avaidyam

[2017-05-23 21:48] avaidyam opened #53 "Multi-cell text selection"
This can be implemented using `NSView.autoscroll(_:)` in the `MessagesListViewController`.

[2017-05-23 21:49] avaidyam commented on #44
Moving away from the `NSDrawer` design so this won't be implemented.

[2017-05-23 21:49] #44 closed, assigned to avaidyam

[2017-05-23 23:58] eonist commented on #16
Hey man, great work. Did you make MochaUI? Looks really cool. Love the way you run this project 😻

[2017-05-24 00:08] avaidyam commented on #16
@eonist Thanks! I love your work with Element/StyleKit as well! (I think I've read all your blog/discovery posts)

Oh, to answer your question: Yes, Mocha + MochaUI were what I ended up breaking out a lot of custom controls and patches into. There's a deprecated Objective-C version in my repos still too... 😄

[2017-05-24 00:32] eonist commented on #16
No way man. That blog  was rambelings of a mad man. Color me impressed. We should definitly collab some day. Im working on making the Element project more functional programming like. And POP. Also adding flexbox to it. Let me know if you have some ideas etc. 🐙

[2017-05-24 02:13] avaidyam commented on #16
@eonist Trust me, it took a while to understand, but it helped in quite a few cases. (By the way, it would be much nicer if you styled `Element` to match the default macOS styles lol...)

Yeah, collab is fine! More like let's see where `Mocha/UI` and `Element` go, and see if we can create a _cross-platform protocol-oriented flexbox-layout hardware-accelerated_ UI framework!

[2017-05-24 09:39] eonist commented on #16
Definitely. Sharing is ideas across projects. "The style should match macOs". I'm not a designer so I might not notice small things. Or did you mean coding style?

 I'm working a lot on easing the Style setup. So that you can just install and hack away and have solution in no time. Perfect for hackathons etc.  I'm currently working on using the default window shadow but also having the possibility

[2017-05-25 04:20] eklavya opened #54 "New release"
Hi @avaidyam

Been waiting for a stable release for so long! Please make a new release?

Thanks :)

[2017-05-25 05:28] avaidyam commented on #54
Hey! Thanks so much for your support. I'm currently retooling a lot of things internally but I'm getting close to v0.7. Thanks for waiting this long!

[2017-05-25 06:24] eklavya commented on #54
Thanks for the update @avaidyam :)

[2017-05-25 06:24] #54 closed, assigned to nobody

[2017-05-25 10:55] eonist commented on #16
I'm active on https://swift-lang.slack.com

They have PM. You can find me at @eonist

If you wish.

[2017-05-25 21:58] avaidyam commented on #16
Awesome!! I'll follow you and keep in touch lol. Trying to get *off* Slack though 😂

[2017-05-25 22:41] eonist commented on #16
Yes slack will ruin us all. I like to think I use it only for PM. Talks later. 😉

[2017-06-08 11:26] avaidyam opened #55 "New NSToolbar and NSMenu"
More strange ideas...
* NSToolbar:
  - Scrollable (with StackView gravity areas), like a TouchBar
  - Compatible with existing NSToolbarItems
  - Hover/force touch for quick preview or hover item
  - No overflow menu

* NSMenu:
  - Something like Xcode's popover (list embedded in a scrollview)
  - Search on the top!
  - Drill-down submenus by push-left animation
  - Compatible with existing NSMenu

[2017-06-13 04:38] avaidyam opened #56 "Better Activity and Log + Analytics facility"
`Activities` should provide a `Log` and automatically send `Analytics` events based on the activity type and duration. Note: find a way to differentiate `UserActivity` and `BackgroundActivity`...

* DispatchWorkItem == NSOperation
* DispatchGroup == NSOperationQueue
* Tasks = [Activity, Daemon]
    - Screens == UserActivity
    - Daemons == BackgroundActivity
* Manage Activity as in Screen, but al

[2017-06-14 07:12] avaidyam opened #57 "Contacts Card Editing"
Since inline editing isn't supported, our options are to either provide an "Open in Contacts" button or rewrite the `CNContactViewController` using an `NSStackView` (preferred) or `NSGridView`.

[2017-06-16 10:07] avaidyam opened #58 "Throttle certain API Endpoints"
The following API endpoints are invoked in excess:
 - `presence/querypresence`
 - `conversations/setfocus`
 - `conversations/settyping`

[2017-06-19 07:28] avaidyam commented on #54
@eklavya `v0.7-alpha` is all set to go!

[2017-06-19 07:42] eklavya commented on #54
Yay! let me check it out. Does it get messages from when you were not online now?

[2017-06-19 07:45] avaidyam commented on #54
It should... make issues for every tiny thing you find is even slightly off or not working this release. v0.8 will be mostly a bug fix release to make it reliable.

[2017-06-19 09:05] avaidyam opened #59 "New events don't fix the ConversationList sort order."

[2017-06-19 09:10] avaidyam opened #60 "Fix ConversationList highlight"
* Match highlighted conversations to open windows (if in applicable UI setting).
* When highlighted, text components aren't as visible.

[2017-06-19 09:33] avaidyam opened #61 "Add support for taking photos/videos using iSight/FaceTime cameras."
Using the `AVCaptureView` might work, or dip down to `AVCapturePhotoOutput`. `ImageKit` has some stuff but is woefully out of date.
Also support editing images before upload using `NSSharingServicePicker`. And drawing an image (which is just create a blank NSImage on-disk and invoke the `MarkupUI` extension through `NSSharingServicePicker`).

[2017-06-19 09:37] avaidyam opened #62 "Support for Stickers"
[Here's Google's Sticker packs list.](https://picasaweb.google.com/data/feed/api/user/108618507921641169817?alt=json&fields=entry[gphoto%3AalbumType!%3D%27ProfilePhotos%27]%28media%3Agroup%28media%3Athumbnail%29%2Clink[%40rel%3D%27http%3A%2F%2Fschemas.google.com%2Fg%2F2005%23feed%27]%29)

Preferably support Telegram's extensible API instead.

[2017-06-19 09:47] avaidyam commented on #52
Closing because this feature isn't as helpful and causes significant overhead.

[2017-06-19 09:47] #52 closed, assigned to avaidyam

[2017-06-19 10:37] avaidyam opened #63 "Default Conversation window sizes are too small"
New conversations that haven't been opened before show up as 100x100 windows.

[2017-06-19 10:38] avaidyam opened #64 "Default scrollview inset before typing obscures messages"
Update the bottom inset when creating the VC.

[2017-06-19 13:14] avaidyam opened #65 "Search Messages and Conversations"
Well, finish implementing this.

[2017-06-20 17:39] avaidyam commented on #61
Also support editing images before upload using `NSSharingServicePicker`. And drawing an image (which is just create a blank NSImage on-disk and invoke the `MarkupUI` extension through `NSSharingServicePicker`).

[2017-06-20 17:39] avaidyam commented on #61
Maybe support uploads through `NSMediaLibraryBrowserController`?

[2017-06-21 03:22] eklavya opened #66 "Preferences don't work"
Nothing happens when I click different tabs. The same screen is shown for everything.

![preferences](https://user-images.githubusercontent.com/1136647/27365676-fff6797e-565e-11e7-9026-0790b2e69a33.jpeg)

[2017-06-21 03:24] eklavya opened #67 "No warning for invalid credentials"
When I last used parrot I had a different password. Now when I started parrot it was stuck on a loading indicator in conversations window. I removed Library/Caches and Preferences for the app. But it still doesn't error out with invalid credentials. I found a log out option in the menu and only then it started to work.

[2017-06-21 03:27] eklavya opened #68 "Single window view?"
Is there a single window mode? I couldn't find any option for it.

[2017-06-21 03:29] eklavya opened #69 "Chats start with a really small window"
When you open a chat for the first time, it's window is really small. If you resize it, it remembers that the next time you open it. Small thing but worth fixing maybe.

[2017-06-21 06:06] eklavya opened #70 "Message window doesn't autoscroll"
When you send messages, the chat list doesn't scroll up. The same happens even for new incoming messages.

[2017-06-21 06:08] eklavya opened #71 "Don't open new chat windows if there is one already"
Every time you click on a chat, a new window opens. It should keep track of the opened windows and bring them to focus instead.

[2017-06-21 06:09] eklavya opened #72 "Resizing opened window messes up the scrollview"
If you resize a chat window, the scrollview layout is messed up and the last message will go behind the text input.

[2017-06-21 09:13] avaidyam commented on #67
Ah oops. The token information is in the Keychain, for future reference. I'll get that.

[2017-06-21 09:14] avaidyam commented on #68
Not publicly available yet, but I've seen it and it works well, so likely in v0.8... 😉

[2017-06-21 09:14] avaidyam commented on #69
Duplicate of #63 👍

[2017-06-21 09:14] #69 closed, assigned to nobody

[2017-06-21 09:16] avaidyam commented on #71
Interesting, I don't see this behavior on my end. I'll look into it more.

[2017-06-21 15:32] avaidyam commented on #67
Can you send me logs from Console.app if you see this behavior again?

[2017-06-23 07:42] #72 closed, assigned to nobody

[2017-06-23 08:02] #70 closed, assigned to nobody

[2017-06-23 08:03] #64 closed, assigned to nobody

[2017-07-11 23:01] avaidyam opened #73 "Add remaining Protobuf services..."
* Also, the People v2 API is used more now ([See reference here.](https://gist.github.com/avaidyam/acd66c26bc68bf6b89e70374bdc5a5d4))

* For `UpdateFavoriteContact`:
[code]

* For `DismissSuggestedContacts`:
[code]

[2017-07-14 09:14] avaidyam opened #74 "Add Google Drive File Provider"
* Requires OAuth for scope `https://www.googleapis.com/auth/drive.file`.

* To create a resumable (max 5GB) upload:

[code]

* To upload parts to the file:

[code]

* To share the file once it's been uploaded:

[code]

[2017-07-14 12:37] avaidyam commented on #74
Well, here it is. It works too!

[code]

[2017-07-14 14:32] avaidyam opened #75 "Add CoreLocation support"
Code that does the trick:
[code]

An example:
[code]

Also, iOS has `func requestLocation()`.

[2017-07-15 19:53] avaidyam commented on #75
Done!

[2017-07-15 19:53] #75 closed, assigned to nobody

[2017-07-15 19:53] avaidyam commented on #74
Problem: getting the OAuth scope, and preventing sending files to GVoice people.

(Also, [Google URL Shortener](https://developers.google.com/url-shortener/v1/url) and [AMP Cache](https://developers.google.com/amp/cache/use-amp-url)!)

[2017-07-15 20:55] avaidyam opened #76 "Async Shim instead of "syncable" protocols"
`PSE` (rather, `ParrotServiceExtension`) should only support pure async methods. Parrot (client-side), there should exist a set of `async --> sync` shims. For example:

[code]

[code]

[2017-07-16 21:06] vanshg opened #77 "Crash upon launch"
I'm trying to build the latest version of the project myself, but I keep getting a crash when I try to launch Parrot from Xcode

I get the error: `Simultaneous accesses to 0x1025626d8, but modification requires exclusive access.`

Are there any steps that need to be taken to get Parrot to work from source?

(I'm using Xcode 9 and Swift 4)

[2017-07-17 04:50] avaidyam commented on #77
I'll need a stacktrace to figure out where it is. A memory address `0x1025626d8` is pretty arbitrary. 😂 There shouldn't be any special steps, but the source is moving pretty arbitrarily and I don't plan to open up outside collaboration completely until I reach a stable build. If you'd like, I can package a release for you based on my local `master`?

[2017-07-17 04:53] avaidyam commented on #77
Also, you're running into the issue described by [SE-0176](https://github.com/apple/swift-evolution/blob/master/proposals/0176-enforce-exclusive-access-to-memory.md) so that's pretty cutting edge considering I don't even think it's fully source implemented yet...?

[2017-07-17 21:42] vanshg commented on #77
Oh whoops, I thought I had posted the full stacktrace. I'll post it later once I'm back at my laptop. And yeah that actually explains it, I was trying to diagnose the error on my own for a bit and couldn't find anyone that had ever encountered a similar error before haha

[2017-07-18 08:22] avaidyam commented on #77
Yeah no worries. Also, I just noticed we're from the same place! (I went to MVHS years ago.)

[2017-07-18 13:42] avaidyam opened #78 "Better Animator/Interpolator"
A couple things I want to implement/change in the Interpolator and unified Animator view of things:

* Basic animation modes:
  * KeyPath, from, to
  * KeyPath, from, by
  * KeyPath, to, by
* Basic animation parameters:
  * duration
  * TimingCurve
  * repeat, etc.
* Group vs. Sequence
  * Group: executes concurrently.
  * Sequence: executes serially.

* A better interpolatable protocol would just

[2017-07-18 13:44] avaidyam opened #79 "SQLite internal storage"
Just a lot of ideas I have to clarify later:

[code]

[2017-07-18 13:45] avaidyam opened #80 "Implement better NSGestureRecognizers (or use the existing ones)"
[code]

[2017-07-18 14:08] avaidyam commented on #73
For phone numbers:
[code]

[2017-07-18 14:36] avaidyam commented on #80
Oops, it's a duplicate...

[2017-07-18 14:36] #80 closed, assigned to nobody

[2017-07-18 14:36] avaidyam commented on #9
`custom force touch gesture recognizer --> open a translucent quick look panel, mouse up = closed`

[2017-07-18 14:38] avaidyam commented on #36
I think I've figured it out, @TauZero, some internal Hangouts events can't be "observed" using the normal API and thus they always show up as unread. I'll look into fixing that -- sorry I'm almost a year late on this.

[2017-07-18 17:48] avaidyam commented on #5
It technically works but not really because Hangouts formatting...

[2017-07-18 17:49] avaidyam commented on #30
This idea was scrapped because it allows for "too much choice" -- a good in-between already exists as implemented.

[2017-07-18 17:49] #30 closed, assigned to avaidyam

[2017-07-18 17:51] avaidyam commented on #40
Deferred until it's actually needed.

[2017-07-18 17:51] #40 closed, assigned to avaidyam

[2017-07-18 17:51] avaidyam commented on #43
Deferred until needed like the plugins.

[2017-07-18 17:51] #43 closed, assigned to avaidyam

[2017-07-19 18:00] vanshg commented on #77
The error seems to occur on line 167 of `NSCollectionViewListLayout.swift`: (`attributes.frame = self.cache.frame(for: m)`)

Here is the entire log:
[code]

Let me know if you need any other information/steps to reproduce

[2017-07-19 18:06] avaidyam commented on #77
Well, I'm still running Xcode 9b1 and not particularly keen on upgrading yet, so I'll tend to it when Xcode 9/Swift 4 is finally released. Until then I recommend you use Xcode 9b1 to compile. 👍

[2017-07-19 18:08] vanshg commented on #77
Ah okay that makes sense, I'm using Xcode 9b3

[2017-07-19 18:09] avaidyam commented on #77
Your crash log will be helpful in a month or so. 😄

[2017-07-21 03:22] #5 closed, assigned to avaidyam

[2017-07-21 03:22] avaidyam commented on #12
Support for locations and photos added; other file support will be added later.

[2017-07-21 03:23] #11 closed, assigned to avaidyam

[2017-07-21 03:24] avaidyam commented on #71
I haven't been able to reproduce this issue so I'll be closing this for now. Let me know if you continue to see this behavior.

[2017-07-21 03:24] #71 closed, assigned to nobody

[2017-07-21 03:25] avaidyam commented on #36
I should have patched it. Let me know (when it's released) if v0.8 has the issue still.

[2017-07-21 03:25] #36 closed, assigned to avaidyam

[2017-07-21 16:52] #62 closed, assigned to nobody

[2017-07-21 16:52] avaidyam commented on #12
[Sticker pack URL](https://picasaweb.google.com/data/feed/api/user/108618507921641169817?alt=json&fields=entry%5Bgphoto%3AalbumType!%3D%27ProfilePhotos%27%5D%28media%3Agroup%28media%3Athumbnail%29%2Clink%5B%40rel%3D%27http%3A%2F%2Fschemas.google.com%2Fg%2F2005%23feed%27%5D%29)

[2017-07-24 17:48] avaidyam commented on #73
Random note: make
[code]
conform to `LocalizedError` and/or `RecoverableError`.

[2017-07-24 18:29] avaidyam commented on #56
Use this for localized strings after 1.0:
[code]

[2017-07-24 18:57] avaidyam opened #81 "Spring-loading & drag and drop"
A lot of components in the Parrot UI should be spring-loaded (i.e. Conversation list, message sending field, etc) but aren't currently able to do that. In addition, image views and conversation backgrounds, etc. should be automatically drag&drop capable.

[2017-09-19 20:24] vanshg commented on #77
Xcode 9 & Swift 4 were just released 😏

[2017-09-19 21:23] avaidyam commented on #77
Yup, am migrating it now. Fixing some `Codable` issues before I push things though.

[2017-09-20 04:51] avaidyam commented on #77
Actually, just realized, this particular bug has been fixed; the next release (or commit) should not have this problem.

[2017-09-20 04:51] #77 closed, assigned to avaidyam

[2017-12-06 00:02] clee opened #82 "Conversation should scroll to show new messages"
If the user hasn't scrolled back in the conversation log, the conversation should autoscroll when new messages appear.

[2017-12-21 05:47] avaidyam commented on #81
Wow look at that, it's actually finished and working!

[2017-12-21 05:47] #81 closed, assigned to avaidyam

[2017-12-21 21:11] avaidyam commented on #51
Maybe a `SoundCenter` class in Parrot that listens to all `send`/`recv` message notifications and plays sounds/notes?

[2018-01-16 04:46] avaidyam opened #83 "Merged conversations"
Be able to merge conversation with person `Test1` and person `Test2` together, even on different networks or the same network; reply panel will have a small extension above it to indicate reply mode and allow changing it (i.e. `Replying to Test1 on Hangouts` vs. `Replying to Test2 on Messenger`). Also, an automatic selection would be beneficial (`Reply via matching the last delivered message`).

[2018-01-16 23:53] avaidyam opened #84 "Use Google URL shortener to provide link analytics"
[See here.](https://developers.google.com/url-shortener/v1/url)

[2018-01-16 23:53] avaidyam opened #85 "Use Google AMP Cache to preload pages"
[See here.](https://developers.google.com/amp/cache/use-amp-url)

[2018-01-16 23:55] avaidyam commented on #82
@clee Did you mean that when a new message arrives, the window would scroll-to-bottom? Because I suppose I find that behavior a little upsetting when I try to read old messages. I'm looking into adding an index to the scrollbar (the little thing in iOS's Contacts.app when you drag the scrollbar) that could notify the user of new messages.

[2018-01-16 23:57] avaidyam commented on #73
As it makes more sense to keep "pinned" items Parrot-local, and the suggested contact interface has disappeared, this is a non-issue.

[2018-01-16 23:57] #73 closed, assigned to avaidyam

[2018-01-17 02:12] clee commented on #82
Right, everybody does, which is why I said “if the user hasn’t scrolled back in the conversation log”. If I’m actively having a conversation, I do not want to have to keep moving my right hand to scroll the conversation to see new messages. But, *at the same time*, I would also like to not have the scroll position changed IF I have manually scrolled back up to read. So the conversation log should

[2018-01-17 04:24] avaidyam commented on #82
Ah that's what you meant -- I misunderstood. The scroll index thing I'm looking into will likely solve this issue. [The conversation technically *does* autoscroll, but it's buggy.](https://github.com/avaidyam/Parrot/blob/master/Parrot/MessageListViewController.swift#L519)

[2018-01-17 04:31] #58 closed, assigned to avaidyam

[2018-01-17 04:32] #74 closed, assigned to avaidyam

[2018-01-17 04:42] avaidyam opened #86 "Snooze/DND a conversation for a certain duration."
Hangouts natively supports it - but do other platforms support it?

[2018-01-17 04:44] avaidyam commented on #12
Ignoring stickers/gifs - that's a whole different issue entirely, this is mostly done/will be implemented shortly.

[2018-01-17 04:44] #12 closed, assigned to avaidyam

[2018-01-17 04:45] avaidyam opened #87 "Support stickers and GIF search?"
GIF search could work easily with Google Images, but stickers require a shared repository/sending mechanism that won't work cross-platform, so it may not make sense to add that.

* [Hangouts Sticker Pack](https://picasaweb.google.com/data/feed/api/user/108618507921641169817?alt=json&fields=entry%5Bgphoto%3AalbumType!%3D%27ProfilePhotos%27%5D%28media%3Agroup%28media%3Athumbnail%29%2Clink%5B%40rel%3

[2018-01-18 03:35] avaidyam commented on #68
@eklavya I've enabled this on the most recent commit, but there are a few glitches in the toolbar - you won't be able to start a new conversation or see the participants/info of a conversation yet.

[2018-01-18 03:37] avaidyam commented on #65
Duplicate of #7.

[2018-01-18 03:37] #65 closed, assigned to avaidyam

[2018-01-18 03:37] avaidyam commented on #66
@EdenSG @eklavya @wakest @vanshg: I haven't been able to reproduce this issue in a long while so I'll close this for now. Let me know if there's an update to this issue and I can reopen it.

[2018-01-18 03:37] #66 closed, assigned to avaidyam

[2018-01-18 03:40] avaidyam commented on #57
Seems to be out of the scope of Parrot's goals.

[2018-01-18 03:40] #57 closed, assigned to avaidyam

[2018-01-25 18:21] #82 closed, assigned to nobody

[2018-01-25 18:22] avaidyam commented on #82
@clee I've just fixed this and can confirm it works on my end in the latest Parrot build. I'll be pushing a new release soon.

[2018-01-25 18:26] avaidyam commented on #68
It's all working well now @eklavya and will be in a new release soon.

[2018-01-25 18:26] #68 closed, assigned to avaidyam

[2018-01-25 19:54] clee commented on #82
@avaidyam Awesome! Looking forward to trying it out :)

[2018-01-27 06:24] avaidyam opened #88 "Group conversations in the list only show one person image"
Instead, composite a few participants' images together or increase the height of the cell to show them all.

[2018-01-27 07:16] avaidyam commented on #87
Decision: Will not support.
Rationale: As of right now, Hangouts has a paltry and outdated Sticker catalog that most users don't use, and cross-platform sticker support will be difficult - this is a matter for another time. In addition, GIF search isn't a huge barrier due to windowing on macOS (which isn't present on mobile devices).

[2018-01-27 07:16] #87 closed, assigned to avaidyam

[2018-01-28 18:52] avaidyam opened #89 "Not able to send focus correctly"
`MessageListViewController` isn't sending `FocusMode` correctly, but does receive it correctly. (That is, other people don't see your typing or "is reading the conv currently" status.)

[2018-02-09 03:22] avaidyam opened #90 "Unable to rename conversation"
The option just doesn't exist in the UI.

[2018-02-09 03:24] avaidyam opened #91 "Start a conversation from a person's indicator"
Be able to right click a person's indicator icon in an existing conversation to start a conversation with that person.

[2018-02-09 03:25] avaidyam commented on #86
Not implementing: too platform-specific and small chance of being useful.

[2018-02-09 03:25] #86 closed, assigned to avaidyam

[2018-02-09 03:26] avaidyam commented on #38
As this idea breaks the typical interaction with modal dialogs in the app, it's probably not worth implementing.

[2018-02-09 03:26] #38 closed, assigned to avaidyam

[2018-02-11 21:54] avaidyam commented on #18
Currently exists!

[2018-02-11 21:54] #18 closed, assigned to avaidyam

[2018-02-12 04:48] vanshg opened #92 "1.0 versioning"
Hey, is there an ETA on when 1.0 will be released? If Parrot's in a somewhat stable state, it'd be great if it could be released as a 1.0, and then additional features added through minor version updates!

[2018-02-19 22:11] avaidyam commented on #92
@vanshg I think I'm at a good point for v0.9 since most features are in and things are looking alright on my end. I'll go ahead and push that in a few hours. v1.0 will probably be before summer, it looks like - just bugs to squash and two major features to add.

[2018-02-20 00:38] avaidyam commented on #92
@vanshg [Here's v0.9 - let me know of any bugs you encounter.](https://github.com/avaidyam/Parrot/releases/tag/v0.9-alpha)

[2018-02-20 00:38] #92 closed, assigned to nobody

[2018-03-05 22:09] maximtart opened #93 "Desktop Icon"
Hi there,
your app is very nice and cute but when I've tried to run it from source code I've found very strange behavior (bug maybe).
All my desktop icons was appeared over all windows and I can't select any window by mouse click.
For fix this I must to restart system or logout.

Please see attached screenshot.

![screen shot 2018-03-06 at 12 01 31 am](https://user-images.githubusercontent.com/975

[2018-03-08 10:03] avaidyam commented on #93
That's pretty odd. I think I know the fix though. I'll get back to you on that soon.

[2018-03-08 11:44] maximtart commented on #93
hi
After few hours of debugging and restarting my system, I have found something.
When I've turned off notification window(window with label "Parrot is connected"), everything works well.

Maybe it will help you.

[2018-03-08 14:38] avaidyam commented on #93
Yup, it's the use of the private Spaces API that is leading to undefined behavior.

[2018-03-08 14:39] avaidyam commented on #93
Yup, it's the use of the private Spaces API that is leading to undefined behavior.

[2018-03-08 14:39] avaidyam commented on #93
Yup, it's the use of the private Spaces API that is leading to undefined behavior.

[2018-03-09 06:09] avaidyam commented on #93
@Leadro Take a look at the recent commit - if you'd rather home-patch Parrot, line 85 in `NSWindow+Transforms.swift` (in MochaUI) should be
[code]

This fixes the issue described. I turned off Finder's `CreateDesktop` flag so I hadn't noticed the issue. Thanks for the bug! 👍

[2018-03-09 06:09] #93 closed, assigned to avaidyam

[2018-03-16 20:48] clee opened #94 "Parrot 0.9-alpha fails to launch properly"
I'm running macOS 10.13.1 on a 13-inch Retina MacBook Pro from 2015. I was using Parrot 0.7-alpha and it launched fine even if it was a little buggy and crashy.

After downloading 0.9-alpha directly from the [releases page](https://github.com/avaidyam/Parrot/releases), I unzipped it by double-clicking the zip file and then double-clicked on the Parrot.app.
![screen shot 2018-03-16 at 2 47 01 pm](h

[2018-03-19 05:19] avaidyam commented on #94
I've noticed a few people having this issue. Can you see if turning off gatekeeper, opening the app, and then turning gatekeeper back on, works?

[2018-03-19 05:19] avaidyam commented on #94
Also, could you send me any of the crash logs from Parrot v0.7!? 😊 I would love to patch the issues.

[2018-03-19 06:14] clee commented on #94
I can't disable Gatekeeper, unfortunately (my work prevents that ability entirely).

I can see about the crash logs!

[2018-03-19 12:12] avaidyam commented on #94
I think it has to do with the codesign certificate on my end. I'll try to re-sign a new binary today or tomorrow and let you know.

[2018-03-21 13:48] gergles opened #95 "0.9-alpha breaks other apps"
After bypassing codesigning (`xattrd -d com.apple.quarantine /Applications/Parrot.app`) to launch 0.9-alpha, the app launches but in a weird state. After signing in, the app window is too small, and I can no longer do anything else on the computer - the menu bar icons all disappear and trying to switch to other apps by clicking on them doesn't work either. I have to log out and back in to get back

[2018-03-21 16:06] avaidyam commented on #95
I have been able to reproduce and fix the issue involving other apps and the desktop floating, but I'm trying to track down why the binary was changed after I signed it. I'll resign a new fixed version today.

[2018-03-21 16:38] avaidyam commented on #95
@gergles Was the system behavior broken like in #93?

[2018-03-21 17:31] gergles commented on #95
@avaidyam Yep, exactly that behavior. Sorry I didn't notice the other issue report!

[2018-03-21 17:33] avaidyam commented on #95
@gergles No, no worries! It's been fixed, and I'll be putting a resigned recompiled binary up soon/tonight. I'll let you know!

[2018-03-25 04:25] avaidyam commented on #95
@clee @gergles Does this work for you? [Parrot.app.zip](https://github.com/avaidyam/Parrot/files/1845015/Parrot.app.zip)

It should have fixed the desktop mess, but can you open it without gatekeeper issues?

[2018-03-25 10:12] clee commented on #95
Still the same error.

[2018-03-25 12:34] gergles commented on #95
@avaidyam I think something isn't updating the signatures on your binaries correctly. Here's the output of codesign:

[code]

Notice the signed time is still Feb 19.

Weirdly, the codesign binary doesn't show a problem verifying the signature:
[code]

Beyond that, though... removing the quarantine attribute lets me open it and the bug I reported is indeed fixed.

[2018-03-25 15:56] avaidyam commented on #95
Ugh, I'm hoping it's not Xcode but it probably is. I'll do some codesign research and ready up a new binary in a few hours.

[2018-03-26 03:05] avaidyam commented on #95
@clee @gergles I think it had to do with Xcode. After hours of messing with other things, I hope this works for you both - [Parrot.app.zip](https://github.com/avaidyam/Parrot/files/1846204/Parrot.app.zip)

EDIT: It does not work. Just tried on a different device. I'm so confused??

[code]

[2018-03-26 13:12] gergles commented on #95
Looking in the console, I see this:

`Requirements for restricted entitlements failed to validate, error -67050, requirements: '<private>', error: (null)`

Are you using some entitlement that only works in App Store apps? (iCloud sync, etc.)? That's the only thing I can think of. [This SO answer](https://stackoverflow.com/questions/30001330/os-x-gatekeeper-codesign-signature-not-valid) suggests it

[2018-03-26 16:10] avaidyam commented on #95
I haven't even privilege-separated Parrot yet, so I don't have any entitlements! Could you turn private log information on using `sudo log config --mode "private_data:on"` and show me the same error message again? I'm not seeing it on my side, and this helps show the `<private>` stuff.

[2018-03-26 17:33] gergles commented on #95
No idea what this means:
[code]

The same error happens with a different path if I move Parrot into /Applications.

I don't know if this is of any help but do you use the keychain? https://red-sweater.com/blog/2390/developer-id-gotcha

[2018-03-27 03:54] avaidyam commented on #95
@gergles I've become a master of the `codesign`! Here's the result for the current v0.9-alpha:
[code]

Here's the result for the older v0.7-alpha:
[code]

So clearly, there's something going on with the appex's. Here's the script generating the offending file in both `ParrotShare` and `ParrotToday`.

[code]

[2018-03-27 19:29] avaidyam commented on #95
@gergles @clee Friends, I think I've done it! I don't know what I did but I sure hope this runs for you both (hold `ctrl` and right click -> open):

[Parrot.zip](https://github.com/avaidyam/Parrot/files/1853486/Parrot.zip)

[2018-03-27 19:40] clee commented on #95
This one actually opens!

It's still too buggy to use, though. It shows up in the Dark theme, for me, no matter which one I select in the settings, and new lines of conversation aren't formatted correctly (the background color bubble isn't set on them).

But hey, at least I can run it now!

[2018-03-27 19:45] avaidyam commented on #95
@clee Holy crap hurray! I ended up scouring through spctl or codesign's source code to figure out what was wrong. Only took me a week. **Before either of us forget! Could you please make issues for those ASAP!?** I'd love to patch those up immediately.

[2018-03-27 19:49] clee commented on #95
I’m away from my computer for the next half hour or so, but I’ll file new
issues (and upload those crash logs from 0.7) when I get back.

[2018-03-27 19:50] avaidyam commented on #95
@clee MVP of the day, Chris! Thanks so much. (You too @gergles!) Please file as many issues as you can!

[2018-03-27 20:17] clee opened #96 "New messages aren't formatted properly"
Attaching a screenshot to demonstrate. (The messages that are easily-legible are from conversation history pulled from Hangouts; the last one at the bottom from me that's almost impossible to read is one I sent in Parrot.)

<img width="425" alt="screen shot 2018-03-27 at 2 11 18 pm" src="https://user-images.githubusercontent.com/2089/37992593-6ac99d58-31c9-11e8-85c4-f780d05c3e2e.png">

[2018-03-27 20:19] #95 closed, assigned to avaidyam

[2018-03-27 20:19] #94 closed, assigned to avaidyam

[2018-03-27 20:20] clee opened #97 "Can't change Parrot UI color theme"
No matter whether I choose System, Light, or Dark, Parrot always uses the Dark theme here. (Using 0.9-alpha 595)

[2018-03-27 20:24] clee opened #98 "Settings window navbar disappears after first appearance"
Steps to reproduce:

- Open Settings window (Cmd+,)
- Navigate to Text
- Close Settings window
- Open Settings window again

Expected result: Text settings pane is shown (currently looks blank)

Actual result: Empty window with missing navbar (no "General"/"Text"/"Accounts" settings)

First open:

<img width="512" alt="screen shot 2018-03-27 at 2 23 16 pm" src="https://user-images.githubuserconten

[2018-03-27 20:29] #97 closed, assigned to avaidyam

[2018-03-27 20:30] avaidyam commented on #97
@clee I'll take a look at the other two issues and if I can fix them pretty quickly, I'll let you know of a new release for Parrot.

[2018-03-27 20:31] avaidyam commented on #96
A temporary workaround is to se the background color of the bubbles manually (press the cog at the top right and you'll be able to set different you/them colors).

[2018-03-27 20:41] #96 closed, assigned to avaidyam

[2018-03-27 20:42] avaidyam commented on #96
@clee I think I've fixed this one too - just a little longer!

[2018-03-27 20:59] #98 closed, assigned to avaidyam

[2018-03-27 21:03] clee opened #99 "Parrot 0.7 crashes"
I don't remember what I was doing during these crashes, but I found the crash logs here so I wanted to upload them.

[Parrot_2018-03-15-144812_clee.crash.gz](https://github.com/avaidyam/Parrot/files/1853797/Parrot_2018-03-15-144812_clee.crash.gz)

[Parrot_2018-03-15-144839_clee.crash.gz](https://github.com/avaidyam/Parrot/files/1853799/Parrot_2018-03-15-144839_clee.crash.gz)

[2018-03-27 21:05] avaidyam commented on #95
@clee @gergles Here's a version that's fixed everything @clee has filed issues for:
[Parrot.zip](https://github.com/avaidyam/Parrot/files/1853805/Parrot.zip)

*Note the build number is still `595`.*

[2018-03-27 21:06] avaidyam commented on #99
@clee Thanks so much! I'll take a look at them today and this week. 👍

[2018-03-27 21:06] #99 closed, assigned to nobody

[2018-03-27 21:08] avaidyam commented on #99
@clee Actually, it looks like I encountered this same issue from your crashes and have already solved it. *I think.* If it comes up again, please file another issue or reopen this one! 😄

[2018-03-27 21:13] clee commented on #99
You got it! Thanks, Aditya :)​

[2018-03-27 21:16] clee opened #100 "Large empty space at top of Conversations window?"
Not sure if this is a bug exactly, but it's strangely large to me.

<img width="344" alt="screen shot 2018-03-27 at 3 14 25 pm" src="https://user-images.githubusercontent.com/2089/37995468-d2090776-31d1-11e8-9b4b-ab8d8312dd43.png">

[2018-03-27 21:18] avaidyam commented on #100
Haha oops. There's supposed to be a big ol' **Conversations** title there. For now, have you tried going to preferences and merging the conversations list + conversation windows? That should turn off the big empty space.

[2018-03-27 21:21] clee commented on #100
Nah, I like having the spatial separated conversation/list windows. (A big part of the reason I was interested in Parrot in the first place was because I miss iChat's UI, and I hate Messages)

[2018-03-27 21:22] avaidyam commented on #100
@clee That's fine! Over several iterations of the UI, it's gone back and forth and is now finally modular, so you can take your pick. I'll keep this issue open for now and fix it later - likely for `v1.0-beta`.

[2018-03-27 21:26] clee commented on #100
👍

[2018-03-28 00:15] gergles opened #101 "Preferences window needs some love"
The slider at the top of the general tab is unlabeled, as are the two button groups below it.

The last option to show recents and conversations together is too long for the size of the window and so has an ellipsis at the end.

The text and accounts tabs both have no options. However, if you click on one, then go back to the general tab, the spacing is wrong because the preferences window resizes

[2018-03-28 00:17] gergles opened #102 "Notification sound option picker should select a sane default"
I imagine most people will want to use one of the system notification sounds for their chat notifications, so perhaps the file picker for those should start in /System/Library/Sounds instead of ~/Documents.

Also, adding a preference to have a default notification sound for any chats that don't have one specified might be nice.

[2018-03-28 00:25] gergles opened #103 "Chat notification sound also plays when a message is sent"
There's an iChat style sound played whenever you send a message... then maybe 50 ms later the notification sound set for the chat also plays.

Only the iChat-style sound should play (and we should be able to disable it.)

[2018-03-28 04:47] avaidyam commented on #101
Good catch - not sure how I missed this. The Text and Accounts did used to have stuff in them, but I'm trying to migrate the whole preferences code first before migrating the UI from the storyboard it used to be in. Also, multi-account support is going to be a little rough, so it may not happen until v1.0+ (unless I get help on that!)

[2018-03-28 04:48] avaidyam commented on #102
Good point - I'll design a quick control to mimic how Messages does it. `/System/Library/PrivateFrameworks/ToneLibrary.framework/Resources` also has all of the "modern" contact sounds heard on iOS and in Messages on macOS. I've thought about what to do with that; should we copy them over at runtime or copy them over at build time (which increases the binary size by a fair amount - 10MB), or just i

[2018-03-28 04:49] avaidyam commented on #103
So you're hearing two notification sounds? Weird - maybe I left some code in on accident in the messages sending process. I've been trying to form an app "event bus" to handle all of these events, so in the future it'll get cleaner, I hope.

[2018-03-28 18:34] avaidyam commented on #103
@gergles Fixed the first half of the issue; the next part is user selection of default sounds (and optionally, no sounds) for individual events.

[2018-04-13 23:36] avaidyam commented on #84
Well, the service is no longer available. RIP.

[2018-04-13 23:36] #84 closed, assigned to avaidyam

[2018-04-14 06:01] avaidyam commented on #85
Idea shelved because it may not make sense in the context of a non-mobile platform.

[2018-04-14 06:01] #85 closed, assigned to avaidyam

[2018-07-16 04:38] bimboengineer opened #104 "Is this project abandoned?"
Its been 3 months since we have seen an update, and so far there are still many bugs. Is an update coming, or is this project dead?

[2018-07-16 04:39] avaidyam commented on #104
The project is definitely not abandoned! I'll be pushing updates slowly, but we're still kicking here. It's just me after all. 😄

[2018-07-16 04:39] avaidyam commented on #104
@jjisawesome Please do make a ton of bug reports, most of the issues you may be seeing are hard for me to trace down without reports. 👍

[2018-07-16 04:41] bimboengineer commented on #104
Cool! Thanks! I will be sure to detail all the bugs that I see. I am eager to see what updates you push in the future!

[2018-07-16 04:42] avaidyam commented on #104
@jjisawesome Thanks! To be honest, I'm just glad people use this app at all. 😆

[2018-07-16 04:43] bimboengineer commented on #104
I really love having hangouts out of the browser bc I have literally 10 google accounts but only 1 main one.

[2018-07-16 04:43] avaidyam commented on #104
That reminds me, multi-account support does exist in technicality but there is no UI for it.

[2018-07-16 04:44] bimboengineer commented on #104
Oh?

[2018-07-16 04:44] bimboengineer commented on #104
thats really exciting!

[2018-07-16 04:45] avaidyam commented on #104
😄 Regardless, thanks for your interest - I'll be pushing out updates soon-ish.

[2018-07-16 04:45] bimboengineer commented on #104
do you have Mojave support ironed out yet?

[2018-07-16 04:45] #104 closed, assigned to nobody

[2018-07-16 04:45] avaidyam commented on #104
@jjisawesome Working on that slowly at the moment, which is why there's a lack of updates (coupled with my personal stuff.)

[2018-07-16 04:46] bimboengineer commented on #104
cool!

[2018-07-16 04:50] bimboengineer opened #105 "Can't CMD+v password in sign in window"
I use a password manager (1password) to store my password and copy it to the clipboard. I can paste the password using right (control) click, but i can't use cmd+v to enter the password.

[2018-07-16 04:51] avaidyam commented on #105
Does this work when using Safari to log into a Google account? Perhaps this is Google blocking the action?

[2018-07-16 04:53] bimboengineer commented on #105
I think that the issue has to do with the menu bar not popping up when I launch the app.
This is what it looks like when I sign in: (was last using safari)
![image](https://user-images.githubusercontent.com/14036709/42743553-d0297ae0-8879-11e8-969f-10dded40fb78.png)

[2018-07-16 05:12] avaidyam commented on #105
Ah this is likely because the login prompt is handled by a background daemon, without which there would be no way to synchronize between multiple Parrot app extensions and the main app, or do background fetching. This may not be something I know how to fix yet, so I'll keep this discussion open.

[2018-07-16 05:13] avaidyam commented on #104
@jjisawesome As you can see I just pushed every change I had been saving up on. 😉

[2018-07-16 05:34] bimboengineer commented on #104
Thanks so much!

[2018-07-16 06:03] bimboengineer opened #106 "Can't build on High Sierra"
Is the latest version (commit 6cf7ba4)comparable with High Sierra? I am getting 217 on hangouts core when building. (This is after making sure the code signing is set up right)

[2018-07-16 06:03] avaidyam commented on #106
You need to use Xcode 10.0 and Swift 4.2. I suggest using a stable release for now.

[2018-07-16 06:05] bimboengineer commented on #106
I still need to upgrade to 10.0 with Mojave, so that explains it.

[2018-07-16 06:05] #106 closed, assigned to nobody

[2019-02-22 23:13] ddgromit opened #107 "Downloadable DMG on homepage"
I went to the homepage and clicked "Download .zip" thinking this would be a typical installer that I can drag over to my Applications.  Instead its just a zip file of the source code, with no instructions on what to do with it.

Most users are probably interested in a prebuilt binary.   Can that be provided in the releases and linked to on the homepage?

For example check out the release tab of [g

[2019-02-22 23:16] avaidyam commented on #107
You'll want to click specifically on `Parrot.zip` to get the binaries! Unfortunately the GitHub Pages website doesn't allow me to change the Download link, as far as I know.

[2019-02-22 23:30] ddgromit commented on #107
Oh I see.  I was able to get the app via the Releases tab.

For the webpage, maybe the buttons could be changed to be:

- [Download App](https://github.com/avaidyam/Parrot/releases/download/v0.9-alpha/Parrot.zip)
- [View on Github](https://github.com/avaidyam/Parrot)
- [Source .zip](https://github.com/avaidyam/Parrot/zipball/master)
- [Source .tar.gz](https://github.com/avaidyam/Parrot/tarball/mas